*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content{
    max-width: 60%;
    height: 200px;
    overflow: hidden;
}
.container .active{
height: auto;
}

p{
    margin-top: 17px;
}
#btn{
padding: 5px;
margin: 5px;
text-transform: capitalize;
border: none;
color: blue;
}